APP_NAME="rag-system"
APP_VERSION="0.1"
OPEN_API_KEY=""

File_Allowed_Types='["application/pdf","text/plain"]'
File_Max_Size=20971520
File_Default_Chunk_Size=524288


MongoDB_URI="  <<Fill in your MongoDB URI here>>  "
MongoDB_Database=" <<Fill in your MongoDB Database name here>> " 